.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: yellow;
    /* padding-bottom: 2000px; */
    position: relative;
}

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    overflow: auto;
}